{% block content %}
<form id="column-form">
    <div id="column-options"></div>
    <button type="submit">Submit</button>
</form>

<div id="table-container"></div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Retrieve options from server using AJAX
        $.ajax({
            url: '{% url "get_column_options" filename=filename %}',
            type: 'GET',
            success: function (data) {
                // Populate form inputs
                var optionsDiv = $('#column-options');
                data['columns'].forEach(function (column) {
                    var label = $('<label>').text(column);
                    var checkbox = $('<input>').attr({
                        type: 'checkbox',
                        name: 'column',
                        value: column,
                    });
                    label.prepend(checkbox);
                    optionsDiv.append(label);
                });
            }
        });

        // Handle form submission
        $('#column-form').submit(function (event) {
            event.preventDefault();

            var checkedColumns = $('input[name="column"]:checked').map(function () {
                return this.value;
            }).get().join(",");

            // Send selected columns to server using AJAX
            $.ajax({
                url: '{% url "compare_fields" filename=filename %}',
                type: 'POST',
                data: {
                    'selected_columns': checkedColumns,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log(data)
                    // Create new table with received data
                    var table = $('<table>').addClass('table');
                    var headerRow = $('<tr>');
                    var selectedColumns = checkedColumns.split(',');
                    selectedColumns.push('count')

                    // Add table header row
                    for (var i = 0; i < selectedColumns.length; i++) {
                        var column = selectedColumns[i];
                        var th = $('<th>').addClass(column).text(column);
                        headerRow.append(th);
                    }
                    table.append($('<thead>').append(headerRow));

                    // Add table data
                    $(data['data']).each(function () {
                        var row = $('<tr>');
                        var rowObj = this;
                        console.log(rowObj)
                        selectedColumns.forEach(function (column) {
                            var cell = $('<td>').addClass(column).text(rowObj[column]);
                            row.append(cell);
                        });
                        table.append($('<tbody>').append(row));
                    });


                    // Replace existing table with new table
                    $('#table-container').html(table);
                }
            });

            return false;
        });
    });
</script>
{% endblock %}
