{% for row in rows %}
<tr>
    <td>{{ row.name }}</td>
    <td>{{ row.height }}</td>
    <td>{{ row.mass }}</td>
    <td>{{ row.hair_color }}</td>
    <td>{{ row.skin_color }}</td>
    <td>{{ row.eye_color }}</td>
    <td>{{ row.birth_year }}</td>
    <td>{{ row.gender }}</td>
    <td>{{ row.homeworld }}</td>
    <td>{{ row.films }}</td>
    <td>{{ row.species }}</td>
    <td>{{ row.vehicles }}</td>
    <td>{{ row.starships }}</td>
    <td>{{ row.created }}</td>
    <td>{{ row.edited }}</td>
    <td>{{ row.url }}</td>
    <td>{{ row.date }}</td>
</tr>
{% endfor %}
