<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
      $('th').click(function(){
        var index = $(this).index() + 1;
        $('td:nth-child('+index+')').toggle();
        $(this).toggleClass('clicked');
      });
    });
  </script>
  <style>
    th {
      background-color: #ddd;
      cursor: pointer;
    }

    th.clicked {
      background-color: #aaa;
    }

    td {
      display: none;
    }
  </style>
  <table>
    <thead>
        <tr class=".">
          <th>Name</th>
          <th>Height</th>
          <th>Mass</th>
          <th>Date</th>
        </tr>
      </thead>
  </table>
  <table id="data-table" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Height</th>
        <th>Mass</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for row in page_obj %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.height }}</td>
        <td>{{ row.mass }}</td>
        <td>{{ row.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
