{% block content %}
  <h1>Star Wars Characters</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Collections</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form action="{% url 'download_data' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="submit" value="Download Data" class="btn btn-primary">
            </div>
          </form>
        </td>
      </tr>
      {% for dataset in datasets %}
        <tr>
          <td><a href="{% url 'view_csv' filename=dataset.file_name %}" target="_blank">{{ dataset.download_date }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_content %}
  {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endif %}
{% endblock %}
